.image1{
  height: 15rem;
  max-width: 100%;
}
.container-fluid{
  padding: 0;
}

.m-auto{
  font-family: 'Cormorant Garamond', serif;
  color:  	#660066
}

.spacer{
  margin-bottom: 90px; /* how high is your footer */
  visibility: hidden; 
}


.article{
  display: inline;
}