.image1{
  height: 15rem;
  max-width: 100%;
}
.container-fluid{
  padding: 0;
}
.fixed-bottom{
  text-align: center;
  padding: 1rem;
  background-color: black;
  color: azure;
}

.brand{
  text-align: center;
}

.sitetitle{
  content: Babysleben;
}

.m-auto{
  font-family: 'Cormorant Garamond', serif;
  color:  	#660066
}